$main-color: #EDF2EC;
$black-color: #000000;
$dark-color: #010201;
$orange-color: #E06733;
$gray-color: #717171;
$green-color: #499A18;
$darkgray-color: #636060;
$white-color: #ffffff;
$greenborder-color: #E3E1D5;
$inika: "Inika", serif;
$inter: "Inter", sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-small-16: 16px;